/* /GENERAL RULES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

ul{
    list-style: none;
}
h2{
    padding: 20px 0;
    font-size: 25px;
    font-weight: 600;
}
p{
    padding: 15px 0;
}
ol:nth-child(1){
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left:1em;
}
/* /GENERAL RULES */

/* HEADER RULES */
/* /HEADER RULES */

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px 0;
    border-bottom: 1px solid black;
}
header .col-left,
header .col-right{
    display: flex;
    width: 50%;
}
header .col-left a{
    padding: 5px;
}
header .col-left a h3{
    font-weight: 600;
}
header .col-center{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
header .col-left a,
header .col-center a{
    text-decoration: none;
    color: black;
}
header .col-center ul{
    display: flex;
}
header .col-center ul li{
    padding: 20px;
}
header .col-center ul li:first-child{
    padding-left: 0;
}
/* MAIN RULES */

main{
    width: 60%;
    margin: auto;
    text-align: justify;
}

/* /MAIN RULES */
